### Игнорирование файлов IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
bin/
out/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

### Логи и отчеты ###
allure-results/
allure-report/

### Системные файлы ###
.DS_Store
Thumbs.db

### Локальные настройки ###
.m2/          # Локальный репозиторий Maven (кеш зависимостей)

### Временные файлы CI/CD ###
.github/workflows/*.tmp
