<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BankManager UI Tests" parallel="tests" thread-count="3">
<test name="All Tests">
        <classes>
            <class name="tests.AddCustomerTest"/>
            <class name="tests.DeleteCustomerTest"/>
            <class name="tests.SortCustomersTest"/>
        </classes>
    </test>
</suite>
